.personalExperience{
    margin-left: 5%;
    width: 90%;
}
.personalExperience h2{
    border-bottom: 1px solid black;
    font-size: 18px;
}
.personalExperienceHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 13px;
    margin-left: 15%;
    margin-top: 2%;
}
.personalExperienceHolder span{
    margin-top: 1%;
    margin-left: 2%;
    
}
