.personalChara{
    margin-left: 5%;
    width: 90%;
}
.personalChara h2{
    border-bottom: 1px solid black;
    font-size: 18px;
}
.personalCharaHolder{
    font-size: 13px;
    margin-left: 25%;
    margin-top: 2%;
}
.personalCharaHolder p{
    margin-top: 1%;
    margin-left: 2%;
}