.personalInformation{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    height: 10%;
    margin-left: 5%;
    width: 89%;

}
.personalInformation h2 b{
    width: 100%;
}
.personalInformation span{
    width: 100%;
}