.personalSkills{
    margin-left: 5%;
    width: 90%;
}
.personalSkills h2{
    border-bottom: 1px solid black;
}
.personalSkillsHolder{
    font-size: 13px;
    margin-left: 25%;
    margin-top: 2%;
}
.personalSkillsHolder p{
    margin-top: 1%;
    margin-left: 2%;
}
